<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ABM.LogMonitor.ServerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ABM.LogMonitor.ServerService.Properties.Settings>
            <setting name="ListenerPort" serializeAs="String">
                <value>6514</value>
            </setting>
            <setting name="LogEntryMaxChars" serializeAs="String">
                <value>32000</value>
            </setting>
            <setting name="PrependSourceIpToMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFileRootDirectory" serializeAs="String">
                <value>d:\LogServerTest\</value>
            </setting>
        </ABM.LogMonitor.ServerService.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
