<?xml version="1.0"?>

<configuration>
  <!--
  <configSections>
    <section name="LoggerServiceSection" type="SimpleLogClient.Core.Configuration.LoggerServiceSection, SimpleLogClient.Core"/>
  </configSections>
  <LoggerServiceSection xmlns="urn:LoggingConfig">
    <defaultLogger>
      <tracelevel value="4" />
      <logfilenameprefix value="DEFAULT" />
      <logfilelocation value="\SimpleLogClientTests\Tests1\" />
    </defaultLogger>

    <loggers>
      <logger name="TraceLogger">
        <tracelevel value="4" />
        <logfilenameprefix value="TRACE" />

      </logger>
      <logger name="AppLogger">
        <tracelevel value="4" />
        <logfilenameprefix value="APP" />

      </logger>
      <logger name="OtherLogger">
        <tracelevel value="4" />
        <logfilenameprefix value="TlaTrace" />
        <logfilelocation value="\SimpleLogClientTests\OtherTests1\" />
      </logger>

    </loggers>

  </LoggerServiceSection>-->

  <system.diagnostics>
    <switches>
      <add name="TraceLevel" value="4" />
    </switches>
  </system.diagnostics>
</configuration>